<div class="comment" id="{{_id}}">
    <div class="parent_comment_wrapper">
        <h3 class="comment_name">{{author.name}}</h3>
        <p class="comment_content">{{comment}}</p>
    </div>
    {{#each comments}}
    <div class="reply_comment">
        <h3 class="comment_name"> {{author.name}} </h3>

        <p class="comment_content"> {{data.comment}} </p>
    </div>
    {{/each}}

    <div class="reply_comment_wrapper">
        <div class="comment_form_wrapper reply">
            <div class="name_email_wrapper reply">
                <input type="text" id="reply_name" class="new_name" placeholder="Your name"
                       name="reply[author][name]" required>
                <input type="text" id="reply_email" class="new_email" placeholder="Your email"
                       name="reply[author][email]" required>
            </div>
            <textarea id="comment" cols="10" rows="5" class="new_comment reply" name="reply[comment]"
                      required></textarea>
            <div class="reply_buttons_wrapper">
                <button onclick="commentWrapper.replyComment(reply, _id)" class="submit_reply">Submit</button>
            </div>
        </div>

    </div>
</div>