<% include ../../partials/header.ejs %>
<div class="home_wrapper">
    <div class="intro_wrapper"><img src="<%= content.user.profileImage %>" alt="Ayush Bahuguna | Full Stack Developer">
        <div class="intro_text_wrapper">
            <h1 class="intro_name"><%= content.user.name%></h1>
            <h2 class="intro_title"><%= content.user.title%></h2>
            <p class="social_profiles">
                <% content.user.social.forEach((el)=>{ %>
                <a href="<%= el.link %>"><i class="fab fa-<%= el.name.toLowerCase() %> fa-2x"></i></a>
                <% }) %>
            </p>
        </div>
    </div>
    <div class="about_wrapper">
        <h1>About Me</h1>
        <div class="about">
            <%- content.user.about %>
        </div>
    </div>
    <div class="projects_wrapper">
        <h1>Helpful Resources</h1>
        <div class="projects">
            <% content.user.projects.forEach((el)=>{ %>
            <div class="project">
                <h3><a href="<%= el.link %>"><%= el.title %></a></h3>
                <p><%= el.about %></p>
                <a href="<%= el.link %>">Link</a>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="home_posts_wrapper">
        <h1>Latest from the blog</h1>
        <div class="home_posts">
            <% content.posts.forEach((el)=>{ %>
            <div class="home_post">
                <h3><a href="/post/<%= el.url %>"><%= el.title %></a></h3>
                <p><%= el.description %></p>
                <a href="/post/<%= el.url %>">Read more</a>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="home_contact_wrapper">
        <h1>Want to get in touch?</h1>
        <div class="home_contact">
            <h3><a href="/contact">Go here!</a></h3>
        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
