<% include ../../partials/header.ejs%>
<div class="edit_post_wrapper">
  <input type="text" value="<%= content.post.title%>" id="edit_title" class="input_edit_title">
  <input type="text" value="<%= content.post.category%>" id="edit_post_category" class="input_edit_category">
  <div id="edit_post" class="post_content"><%= content.post.content%></div>
  <div class="seo_block">
    <textarea col="30" row="10" id="meta_desc"><%= content.post.meta.description%></textarea>
    <input type="text" id="meta_keywords" class="seo_keywords" value="<%= content.post.meta.keywords%>">
  </div>
</div>
<% include ../../partials/footer.ejs%>
