<% include ../../../partials/header.ejs%>
<% include ../../../partials/navbar.ejs%>
<div class="single_post_wrapper">
    <div class="single_post">
        <div class="heading_wrapper">
            <h1 class="single_post_heading"><%=content.post.title%></h1>
            <div class="info">
                <span>Category: <a href="/posts?q=<%=content.post.category%>"><%= content.post.category%></a></span>
                <span>Comments: <%=content.post.comments.length%></span>
            </div>
        </div>
        <div class="single_post_content_wrapper">
            <div class="single_post_content">
                <%- content.post.content%>
            </div>
        </div>
    </div>
</div>
<%include ../../common/subscribe/subscriber.ejs%>
<% include ../../comments/comment.ejs%>
<% include ../../../partials/footer.ejs%>
