<% include ../../../partials/header.ejs%>
<% include ../../../common/sidebar/sidebar.ejs%>
<div class="edit_post_wrapper">
  <input type="text" value="<%= content.post.title%>" id="edit_title" class="input_edit_title">
  <div id="editor"></div>
  <div id="edit_post" style="display: none;" class="post_content">
  <%- content.post.content%>
  </div>
  <div class="seo_block">
    <textarea col="30" row="10" id="meta_desc"><%= content.post.meta.description%></textarea>
    <input type="text" id="meta_keywords" class="seo_keywords" value="<%= content.post.meta.keywords%>">
  </div>
  <button onClick="post.edit('<%=content.post._id%>')">Update</button>
</div>
<% include ../../../partials/footer.ejs%>
