<% include ../../../partials/header.ejs %>
<% include ../../../common/sidebar/sidebar.ejs %>
<div class="profile">
    <div class="name_profession">
        <div class="name">
            <input type="text" name="name" id="profile_name" placeholder="Your Name"
                   value="<%= content.user.name || "" %>">
        </div>
    </div>
    <div class="profile_image">
        <input type="file" name="profileImage" id="profile_image" placeholder="Profile Image"/>
        <div class="show_profile_image" style="max-width: 100%;">
            <% if(content.user.profileImage){ %>
            <img src="/<%=content.user.profileImage%>" alt="">
            <% } %>
        </div>
    </div>
    <div class="about_you">
        <div id="profile_editor" class="profile_editor_wrapper">

        </div>
        <div id="profile_about" style="display: none;">
            <%- content.user.about || "" %>
        </div>
    </div>
    <div class="social_profiles_wrapper">
        <% content.user.social ? content.user.social.forEach((el)=>{ %>
        <div class="social_profiles">
            <input type="text" id="social_profile_name" value="<%= el.name %>"
                   placeholder="Social Profile, eg: github, twitter">
            <input type="text" id="social_profile_link" value="<%= el.link %>" placeholder="Link to the profile">
        </div>
        <% }) : '' %>
        <div class="social_profiles">
            <input type="text" id="social_profile_name" placeholder="Social Profile, eg: github, twitter">
            <input type="text" id="social_profile_link" placeholder="Link to the profile">
        </div>
        <button class="add_social_profile" onclick="profile.addSocialProfile()">Add</button>
    </div>
    <div class="helpful_links_wrapper">
        <% content.user.projects ? content.user.projects.forEach((el)=>{ %>
          <div class="helpful_link">
              <input type="text" value="<%= el.title%>">
              <input type="text" value="<%= el.about%>">
              <input type="text" value="<%= el.link%>">
          </div>
        <%}) : ''%>
        <button class="add_helpful_links" onclick="profile.addHelpfulLinks()">Add A Helpful Link</button>
    </div>

    <div class="save_profile">
        <button onclick="profile.updateProfile()">Save</button>
    </div>
</div>
<% include ../../../partials/footer.ejs %>
